<h1>Researchers by Projects </h1>

<table>

<% @projects.each do |project| %>
  <tr>
    <td><B><%=h project.name %></B></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>


  <% project.researchers.each do | researcher| %>
  <tr> <td> <%= researcher.name %> </td> </tr>
    <% end %>



<% end %>

</table>

<br />

<%= link_to 'New project', new_project_path %>
